<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="content_all">
    <div class="all_container">
        <div class="detail">
            {% if user.is_authenticated %}
                <div class="button">
                    <a class="btn btn-default" href="{% url 'music_edit' pk=music.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            {% endif %}
            <h2>{{ music.song_title }}</h2>
            <p>{{ music.author|linebreaksbr }}</p>
            {% if music.updated_at %}
                <div class="date">
                   Atualizada em: {{ music.updated_at }}
                </div>
            {% elif music.created_at %}
                <div class="date">
                   Criada em: {{ music.created_at }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}