<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="content_all">
    <div class="all_container">
        <div class="detail">
            {% if user.is_authenticated %}
                <div class="button">
                    <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            {% endif %}
            <h2>{{ task.task_title }}</h2>
            <p>{{ task.description|linebreaksbr }}</p>
            <h3>Termina em: {{ task.end_date|date:"D, d M, Y" }}</h3>
            {% if task.updated_at %}
                <div class="date">
                   Atualizado em: {{ task.updated_at }}
                </div>
            {% elif task.created_at %}
                <div class="date">
                    Criado em: {{ task.created_at }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}