<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Python Test</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        {% load static %} 
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="home">
                <div class="menu">
                    {% include 'app/menu.html' %}
                </div>
                {% block content %}
                {% endblock %}
        {% elif user.is_authenticated == False %}
            {% block login %}
            {% endblock %}
        {% endif %}
        </div>
    </body>
</html>