<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Python Test</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        {% load static %} 
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
            {% if user.is_authenticated %}
                <div class="home">
                    <div class="col-md-2 menu">
                        {% include 'app/menu.html' %}
                    </div>
                    <div class="col-md-10">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            {% elif user.is_authenticated == False %}
                <div class="background-login">
                    {% block login %}
                    {% endblock %}
                </div>
            {% endif %}
    </body>
</html>