<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
{% block login %}
    <div class="fundo">
        <img/>
    </div>
    <div class="login">
        <h2 class=title_login>LOGIN</h2>
        <form method="POST" class="form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Entrar</button>
        </form>
        <a href="{% url 'sign_up' %}" class="singup">Ainda não possui conta? Cadastre-se aqui!</span></a>
    </div>
{% endblock %}