<!DOCTYPE html>
{% extends 'app/base.html' %}

{% block content %}
    <div class="note">
        {% if note.updated_at %}
            <div class="date">
                {{ note.updated_at }}
            </div>
        {% elif note.created_at %}
            <div class="date">
                {{ note.created_at }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'note_edit' pk=note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ note.title }}</h2>
        <p>{{ note.text|linebreaksbr }}</p>
    </div>
{% endblock %}