<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="note">
            {% if user.is_authenticated %}
                <div class="button">
                    <a class="btn btn-default" href="{% url 'note_edit' pk=object.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            {% endif %}
            <h2>{{ object.title }}</h2>
        <p>{{ object.text|linebreaksbr }}</p>
        {% if object.updated_at %}
            <div class="date">
                {{ object.updated_at }}
            </div>
        {% elif object.created_at %}
            <div class="date">
                {{ object.created_at }}
            </div>
        {% endif %}
    </div>
{% endblock %}